.react-calendar {
  border: none;
}
.react-calendar button {
  border: 5px solid white;
}
.react-calendar__tile {
  height: 48px;
  border-radius: 50%;
}

/* .react-calendar__tile--active {} */

.react-calendar__tile--now {
  background: #f5f5f5;
  color: black;
  border-radius: 50%;
}


.habit h1 {
  font-weight: normal;
  text-align: center;
}
