:root {
  --red-text: #ff595e;
  --red-background: #ff595e;
  --yellow-text: #ffca3a;
  --yellow-background: #ffca3a;
  --green-text: #25bb5f;
  --green-background: #25bb5f;
  --blue-text: #6f71ec;
  --blue-background: #6f71ec;
  --purple-text: #7e5dac;
  --purple-background: #7e5dac;
}

.red-text {
  color: var(--red-text);
}
.red-background {
  color: var(--red-background);
}
.yellow-text {
  color: var(--yellow-text);
}
.yellow-background {
  color: var(--yellow-background);
}
.green-text {
  color: var(--green-text);
}
.green-background {
  color: var(--green-background);
}
.blue-text {
  color: var(--blue-text);
}
.blue-background {
  color: var(--blue-background);
}
.purple-text {
  color: var(--purple-text);
}
.purple-background {
  color: var(--purple-background);
}

.logotype {
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
}

#nav-toggle-state {
  display: none;
}
#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}
